body, html{
    height: 100%;
    width: 100%;
    margin:0;

    padding:0;

}
#mask{
    position: relative;
    height: 100%;
}
.nav1{
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
}
#txthead1{
    color: #26A69A;
    font-size: 300%;
    font-weight: 200;
    letter-spacing: 5px;
    padding-left: 20px;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
#txthead2{
    color: #26A69A;
    font-size: x-large;
    letter-spacing: 5px;
    padding-left: 20px;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.nav2{
    float: right;
    padding-top: 20px;
    padding-right: 20px;
}
#txt {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    color: white;
    font-weight: 700;
    padding-top: 200px;
}
#txt2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 200;
    color: white;
    padding-top: 20px;

}
#Team{
    float: right;
}
.darken {
  background-image: 
  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
      ),
  url("assets/home.gif");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}
.darkensend {
  background-image: 
  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
      ),
  url("assets/send.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}
.darkendeliver {
  background-image: 
  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
      ),
  url("assets/deliver.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}
.darkenteam {
  background-image: 
  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
      ),
  url("assets/team.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}
.buttons{
    margin-left: 450px;
    margin-top: 20px;

}
.signupbutton{
    margin-left: 575px;
    margin-top: 20px;

}
.button1 {
  border-radius: 4px;
  background-color: #259D92;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  font-weight: 200;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: 'Roboto', sans-serif;
}
.button2 {
  border-radius: 4px;
  background-color: #259D92;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  font-weight: 200;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: 'Roboto', sans-serif;
}
.button3 {
  border-radius: 4px;
  background-color: #259D92;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  font-weight: 200;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: 'Roboto', sans-serif;
}
.button4 {
  border-radius: 4px;
  background-color: #259D92;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  font-weight: 200;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: 'Roboto', sans-serif;
}


.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  float: right;
}
.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  float: right;
}
.button3 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button4 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


.button1 span:after {
  content: ':)';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button2 span:after {
  content: ':)';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button3 span:after {
  content: '!';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button4 span:after {
  content: ':)';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}
.button2:hover span {
  padding-right: 25px;
}
.button3:hover span {
  padding-right: 25px;
}
.button4:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}
.button2:hover span:after {
  opacity: 1;
  right: 0;
}
.button3:hover span:after {
  opacity: 1;
  right: 0;
}
.button4:hover span:after {
  opacity: 1;
  right: 0;
}